<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/style.css">
    <title>Chatroom</title>
</head>
<body>
    <h3>Welcome to Chatroom</h3>

    <div id="chat"></div>
    <br>

    <input type="text" id="inp_message" placeholder="Entermessage" disabled/>
    <button type="submit" id="send" disabled>Send</button>
    <p>Enter username: </p><input type="text" id="username" placeholder="Enter username"/>
    <button type="submit" id="connect">Connect</button>
    <button type="submit" id="disconnect" disabled>Disconnect</button>


    
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/socket.io.js"></script>


</body>


</html>


